p {
  font-family: Lato;
}
.active{
  background-color: #0004;
}
mat-toolbar{
  position: fixed;
  z-index: 2;
  height:40px;
  button{
    height:30px;
    line-height: 30px;
  }
}
.splash{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  animation: splash 1s 1;
  animation-fill-mode: forwards;
}
@keyframes splash{
  0%{opacity: 1;}
  90%{opacity: 1;}
  100%{opacity: 0; z-index: 0;}
}
.app-background{
  position: absolute;
  height:100vh;
  width: 100vw;
  z-index:1;
  opacity: 0.1;
  background-image: url("../assets/notes.svg");
  background-size: 100px;
}
@keyframes backAnim{
  0%{ opacity:0.4; background-image: url("../assets/colored-notes.svg");}
  50%{ opacity:0.1;  background-image: url("../assets/colored-notes.svg");}
  100%{ opacity:0.4;  background-image: url("../assets/colored-notes.svg");}
}