@use '@angular/material' as mat;
@include mat.core();
$my-dark-palette: (
  50:#Fee,
  100:#CBB,
  200:#BAA,
  300:#A99,
  400:#988,
  500:#f77,
  600:#766,
  700:#655,
  800:#544,
  900: #223,
  contrast:(
    50:#111,
  100:#111,
  200:#111,
  300:#111,
  400:#111,
  500:#fff,
  600:#fff,
  700:#fff,
  800:#fff,
  900:#fff,
  )
);
$theme-primary: mat.define-palette($my-dark-palette,900);
$theme-accent: mat.define-palette($my-dark-palette,500);
$theme: mat.define-dark-theme(
  (
    color: (
      primary:$theme-primary,
      accent: $theme-accent,
    )
  )
);
.my-bg-theme{
  background: linear-gradient(#112,mat.get-color-from-palette($my-dark-palette,900));
  color: mat.get-color-from-palette($my-dark-palette,900-contrast);
}
@include mat.core-theme($theme);
@include mat.button-theme($theme);
@include mat.toolbar-theme($theme);
@include mat.list-theme($theme);
@include mat.bottom-sheet-theme($theme);
